# Misc
*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache
wp-config-local.php
gulpfile.js

# Node modules and output
node_modules

# Styles ignore as run on GitHub via Action
style.css
style.css.map
editor.css
editor.css.map
