/* 
COLOUR TOKENS
Theme colour variables.
*/

$colors: (
    text-100: hsl(0, 0%, 100%),
    text-400: hsl(214, 14%, 90%),
    text-900: hsl(219, 11%, 70%),
    text-link: hsl(221, 91%, 70%),
    text-link-hover: hsl(221, 91%, 63%),
    surface-700: hsl(215, 50%, 5%),
    surface-600: hsl(217, 50%, 7%),
    surface-400: hsl(222, 15%, 13%),
    surface-300: hsl(247, 21%, 13%),
    surface-200: hsl(218, 15%, 25%),
    surface-100: hsl(219, 13%, 38%),
    surface-50: hsl(0, 0%, 100%),
    border-default: hsl(219, 11%, 50%),
    border-darker: hsl(218, 15%, 16%),
    border-link: hsl(221, 91%, 70%),
    brand-primary: hsl(215, 95%, 55%),
    brand-primary-darker: hsl(215, 95%, 5%),
    brand-accent: hsl(334, 88%, 68%),
    brand-accent-darker: hsl(334, 88%, 41%),
    brand-secondary: hsl(42, 91%, 58%),
);
