/* 
BG BLUR UTILITY
Applies background colour and blur to an element.
** Remeber to add position: relative to the element.**
*/

.bg-blur {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: hsl(221 90% 85% / 0.1);
        backdrop-filter: blur(0.3rem);
        z-index: -1;
    }
}