/* 
BG BLUR UTILITY
Applies background colour and blur to an element.
** Remeber to add position: relative to the element.**
*/

.bg-blur {
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}