/* 
VARIOUS FLEX LAYOUT CLASSES
*/

.flex {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.flex-splitter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-push-right {
    justify-content: flex-end;
}