/* 
FLOW UTILITY
Spacing value between content blocks.
*/

.flow-tiny > * + * {
  margin-block-start: var(--flow-space-tiny, 0.5em);
}

.flow-small > * + * {
  margin-block-start: var(--flow-space-small, 0.5em);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow-large > * + * {
  margin-block-start: var(--flow-space-large, 2em);
}

.flow-page-regions > * + * {
  margin-block-start: var(--flow-space-xl, 8em);
}