/* 
ICON TEXT GROUPS UTILITY
Groupings for text that have either leading or ttailing icons.
*/

:is(p, h1, h2, h3, h4, h5, h6).icon-text-group {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    font-family: var(--font-family-headings);

    svg {
        fill: currentColor;
    }
}
