/* 
IMAGE STATE STYLES
Fancy css filter effects for image link hovers.
*/

.img-hover {
    filter: saturate(1) brightness(1);
    transition: filter 0.2s ease-in-out;

    &:hover {
        filter: saturate(1.1) brightness(1.15);
    }
}
