/* 
WRAPPER UTILITY
Settings for the overall content width.
*/
.wrapper {
    position: relative;
    margin-inline: auto;
    max-width: 90rem;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}