@use "utilities" as *;
@use "blocks" as *;

/* 
ABOUT PAGE
*/

.about-page-hosts {
    &__hosts {
        @include post-cards-grid;
        gap: var(--space-l);

        .host-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-2xs);

            &__content {
                display: flex;
                flex-direction: column;
                gap: var(--space-2xs);
                align-items: center;

                h5 {
                    color: var(--clr-brand-accent);
                }

                p {
                    text-align: center;
                    margin-block-end: var(--space-3xs);

                    @media (min-width: 46.75rem) {
                        max-width: 45ch;
                    }
                }

                span {
                    font-style: italic;
                }
            }
        }
    }
}

.about-page-writers {
    margin-block-start: var(--space-3xl);

    .team-writers {
        @include post-cards-grid;

        &__panel {
            position: relative;
            isolation: isolate;
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 25rem;
            padding-inline: var(--space-s);
            padding-block-end: var(--space-s);
            border-radius: var(--radius-small);
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(
                    0deg,
                    hsl(var(--clr-brand-primary-darker-hsl) / 1) 0%,
                    transparent 70%
                );
                z-index: -1;
            }

            &:last-child {
                .team-writers__content p {
                    margin-block-end: var(--space-xs);
                }

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(
                        0deg,
                        hsl(var(--clr-brand-primary-darker-hsl) / 1) 0%,
                        hsl(var(--clr-brand-primary-darker-hsl) / 0.7) 100%
                    );
                    z-index: -1;
                }
            }

            .author-hero__socials {
                margin-block-end: var(--space-2xs);

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: var(--space-3xs);
                    border-radius: var(--radius-xs);
                    color: var(--clr-text-100);
                    transition: all 0.1s ease-in-out;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                a:hover {
                    background: var(--clr-brand-primary);
                }
            }
        }

        &__image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -2;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: var(--space-2xs);

            p {
                font-family: var(--font-family-headings);
            }
        }
    }

    .dalektat {
        position: relative;
        padding-block-start: 10rem;
        overflow: hidden;

        @media (max-width: 46.063rem) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block-start: 0;
        }

        picture {
            position: absolute;
            top: -1rem;
            left: -4rem;
            width: 33rem;
            z-index: 1;

            @media (max-width: 66.25rem) {
                top: 3rem;
                left: -6rem;
                width: 33rem;
            }

            @media (max-width: 61.25rem) {
                top: 3rem;
                left: -9rem;
                width: 33rem;
            }

            @media (max-width: 55.625rem) {
                top: 3rem;
                left: -12rem;
                width: 33rem;
            }

            @media (max-width: 46rem) {
                position: relative;
                top: 0;
                left: 0;
                width: 30rem;
                z-index: -1;
            }
        }

        &__content {
            position: relative;
            padding-block-start: var(--space-l);
            padding-block-end: var(--space-xl);
            padding-inline-start: clamp(0rem, -6.25rem + 50vw, 31.25rem);
            padding-inline-end: var(--space-xl);
            background: var(--clr-surface-600);
            border-radius: var(--radius-normal);
            isolation: isolate;
            overflow: hidden;

            @media (max-width: 46.063rem) {
                padding-inline: var(--space-l);
                margin-block-start: -20rem;
            }

            &::after {
                @include img-border-highlight(var(--clr-surface-200));
                border-radius: var(--radius-normal);
            }

            &::before {
                content: "";
                position: absolute;
                top: -50%;
                left: -4.5rem;
                width: 600px;
                height: 800px;
                background: radial-gradient(
                    circle,
                    hsl(var(--clr-border-link-hsl) / 0.3) 0,
                    hsl(var(--clr-border-link-hsl) / 0) 60%
                );
                border-radius: var(--radius-circle);
                filter: blur(20px);

                @media (max-width: 67rem) {
                    left: -7rem;
                }

                @media (max-width: 46.063rem) {
                    @include visually-hidden;
                }
            }
        }
    }
}
