@use "utilities" as *;
@use "blocks" as *;

/* 
ABOUT PAGE
*/

.about-page-hosts {
    &__hosts {
        @include post-cards-grid;
        gap: var(--space-l);

        .host-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-2xs);

            &__content {
                display: flex;
                flex-direction: column;
                gap: var(--space-2xs);
                align-items: center;

                h5 {
                    color: var(--clr-brand-accent);
                }

                p {
                    text-align: center;
                    margin-block-end: var(--space-3xs);

                    @media (min-width: 46.75rem) {
                        max-width: 45ch;
                    }
                }

                span {
                    font-style: italic;
                }
            }
        }
    }
}

.about-page-writers {
    margin-block-start: var(--space-3xl);

    .team-writers {
        @include post-cards-grid;

        &__panel {
            position: relative;
            isolation: isolate;
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 25rem;
            padding-inline: var(--space-s);
            padding-block-end: var(--space-s);
            border-radius: var(--radius-small);
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(
                    0deg,
                    hsl(var(--clr-brand-primary-darker-hsl) / 1) 0%,
                    transparent 70%
                );
                z-index: -1;
            }

            &:last-child {
                .team-writers__content p {
                    margin-block-end: var(--space-xs);
                }

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(
                        0deg,
                        hsl(var(--clr-brand-primary-darker-hsl) / 1) 0%,
                        hsl(var(--clr-brand-primary-darker-hsl) / 0.7) 100%
                    );
                    z-index: -1;
                }
            }

            .author-hero__socials {
                margin-block-end: var(--space-2xs);

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: var(--space-3xs);
                    border-radius: var(--radius-xs);
                    color: var(--clr-text-100);
                    transition: all 0.1s ease-in-out;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                a:hover {
                    background: var(--clr-brand-primary);
                }
            }
        }

        &__image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -2;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: var(--space-2xs);

            p {
                font-family: var(--font-family-headings);
            }
        }
    }
}
