@use "utilities" as *;
@use "blocks" as *;

/* 
ARCHIVE PAGE STYLES
Layout and styling for archive pages.
*/

// Archive layout for tags.
.archive-hero {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);

    .section-title {
        margin-block-end: 0;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);

        p {
            color: var(--clr-text-400);

            span {
                color: var(--clr-brand-secondary);
            }
        }
    }
}

body:is(.category):not(.category-podcasts) {
    @media (max-width: 42rem) {
        .archive-hero {
            gap: var(--space-s);
        }
    }

    .archive-hero__group {
        flex-direction: row;
        align-items: end;
        justify-content: space-between;

        @media (max-width: 42rem) {
            flex-direction: column;
            gap: var(--space-xs);
            align-items: start;
        }

        .view-switcher {
            margin: 0;

            @media (max-width: 42rem) {
                flex-wrap: wrap;
            }
        }
    }
}

body:is(.tag) {
    .section-title {
        color: var(--clr-border-link);
    }

    .archive-hero__group h1 {
        font-size: var(--step-2);

        span {
            display: block;
            font-size: var(--step-5);
            color: var(--clr-border-link);
            margin-block-start: var(--space-2xs);
        }
    }
}

body:is(.search-results),
body:is(.search-no-results) {
    .section-title {
        font-weight: var(--fw-semibold);
        color: var(--clr-text-900);
    }

    .archive-hero__group {
        margin-block-end: var(--space-s);
    }
}

// Archive layout for authors.
.author-hero {
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-l);

        @media (min-width: 50rem) {
            grid-template-columns: 300px 1fr;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 16 / 11;
        object-fit: cover;
        object-position: top;
        border-radius: var(--radius-xs);
        margin-inline: auto;

        @media (min-width: 50rem) {
            width: 300px;
            aspect-ratio: auto;
            height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 20%;
        }
    }

    &__socials {
        display: flex;
        gap: var(--space-s);

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: var(--space-3xs);
            background: transparent;
            border-radius: var(--radius-xs);
            transition: all 0.1s ease-in-out;
            color: var(--clr-text-100);

            &:hover {
                background: var(--clr-brand-primary);
            }

            svg {
                width: 24px;
                height: 24px;
            }

            .author-social-x,
            .author-social-tiktok {
                width: 23px;
                height: auto;
            }
        }
    }

    &__badge {
        display: inline-block;
        font-family: var(--font-family-headings);
        font-size: var(--step--1);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
        padding: var(--space-3xs) var(--space-2xs);
        background: var(--clr-surface-300);
        border-radius: var(--radius-xs);
    }

    &__bio {
        max-width: 60ch;
    }

    &__favs {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-m);
        margin-block-start: var(--space-s);

        @media (max-width: 38rem) {
            gap: var(--space-2xs);
        }

        > div {
            position: relative;
            display: flex;
            padding-block-start: var(--space-l);
            border-radius: var(--radius-xs);
            overflow: hidden;

            @media (max-width: 38rem) {
                width: 100%;
                padding-block-start: var(--space-xl);
            }

            .fav-image {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;

                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                    filter: drop-shadow(8px 12px 10px rgba(22, 24, 29, 1));
                }
            }

            h6 {
                display: block;
                font-family: var(--font-family-headings);
                // font-size: var(--step-0);
                color: var(--clr-text-400);
                text-wrap: unset;
                padding: var(--space-2xs) var(--space-s) var(--space-2xs)
                    calc(var(--image-width) + var(--space-xs));
                background: var(--clr-surface-300);
                border-radius: var(--radius-xs);
                z-index: 0;

                @media (max-width: 38rem) {
                    width: 100%;
                    font-size: calc(var(--step-0) - 0.1rem);
                }
            }
        }
    }
}

body.archive .post-cards-grid {
    margin-block-start: var(--space-l);

    @include post-cards-grid;
}
