@use "utilities" as *;

/* 
Custom Log In Screen Styles
*/

// Default log in page
body.login {
    display: grid;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-image: url("images/login-bg.avif"), url("images/login-bg.webp");
    background-size: cover;
    background-position: center;

    &:before {
        content: "";
        position: fixed;
        inset: 0;
        background: hsl(var(--clr-surface-700-hsl) / 0.4);
        z-index: -1;
    }
}

/* Replace WP logo */
#login {
    width: fit-content;
    margin: 0;
    padding-block-start: var(--space-3xl);

    form {
        background: hsl(var(--clr-surface-600-hsl) / 0.4);
    }

    h1 a {
        display: block;
        background-image: url("images/logos/logo-horizontal.svg");
        background-size: contain;
        width: 260px;
        height: 80px;
        margin-block: 0;
        margin-inline: auto;
        padding: 0;
    }

    #nav {
        margin-block-start: var(--space-s);
    }

    #nav,
    #backtoblog {
        padding: 0;
    }

    #nav a,
    #backtoblog a {
        font-size: var(--step--1);
        color: var(--clr-text-link);

        &:hover,
        &:active {
            text-decoration: underline;
            text-decoration-color: var(--clr-text-link);
            -webkit-text-decoration-color: var(--clr-text-link);
            text-decoration-thickness: 1px;
        }
    }
}

/* Style the login box */
#loginform,
#lostpasswordform,
.admin-email-confirm-form {
    width: 30rem;
    max-width: 90vw;
    font-family: var(--font-family-headings);
    margin: 0;
    padding: var(--space-l);
    backdrop-filter: blur(12px);
    border: 1px solid hsl(var(--clr-border-default-hsl) / 0.2);
    border-radius: var(--radius-normal);

    p:not(.submit) {
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs);

        label {
            font-size: var(--step--1);
            color: var(--clr-text-100);
        }
    }

    p.forgetmenot {
        flex-direction: row;
        align-items: center;
        margin-block-end: var(--space-xs);
    }

    input[type="text"],
    input[type="password"] {
        min-height: 48px;
        font-size: var(--step-0);
        font-weight: var(--fw-semibold);
        color: var(--clr-text-100);
        padding-block: var(--space-3xs);
        padding-inline: var(--space-xs);
        background: hsl(var(--clr-surface-300-hsl) / 0.9);
        border: 1px solid hsl(var(--clr-border-darker-hsl) / 1);
        border-radius: var(--radius-small);

        &:focus {
            border-color: var(--clr-brand-primary);
            box-shadow: 0 0 0 3px hsl(var(--clr-brand-primary-hsl) / 0.35);
        }
    }

    input.password-input {
        font-family: var(--font-family-headings);
        margin-block-end: var(--space-m);
    }

    .button.wp-hide-pw {
        min-width: 48px;
        min-height: 48px;

        &:before {
            background: none;
            transition: none;
        }
    }

    .button-primary,
    a.button,
    input[type="submit"] {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        min-width: 10ch;
        min-height: 2.85rem;
        padding: calc(var(--space-2xs) + 0.2rem) var(--space-s);
        font-family: var(--font-family-headings);
        font-size: var(--step-0);
        font-weight: var(--fw-semibold);
        text-align: center;
        line-height: 1.1;
        color: var(--clr-text-100);
        background: linear-gradient(142deg, #4c95fa 2%, #1674f9 65%);
        border-radius: var(--radius-xs);
        overflow: hidden;
        z-index: 1;

        @media (max-width: 40rem) {
            width: 100%;
            min-height: 3.125rem;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background:
                linear-gradient(140deg, #4c95fa 2%, #1674f9 65%) padding-box,
                linear-gradient(170deg, #b4d3fd -30%, transparent 60%)
                    border-box;
            border: 1px solid transparent;
            border-radius: var(--radius-xs);
            transition: all 0.1s ease-out;
            z-index: -1;
        }

        &:hover::before,
        &:active::before {
            filter: brightness(0.9);
        }

        &:focus-visible {
            outline: 3px solid var(--clr-brand-accent);
            outline-offset: 0.25rem;
            border-radius: 2px;
        }

        &:hover {
            color: var(--clr-text-100);
            background: hsl(var(--clr-brand-primary-hsl) / 0.85);
        }
    }
}

// Forgot password page
.login {
    .message {
        width: 30rem;
        max-width: 90vw;
        padding-inline: var(--space-s);
        background-color: hsl(var(--clr-surface-600-hsl) / 0.4);
        box-shadow: none;
        border-radius: var(--radius-small);

        p {
            font-size: var(--step--1);
        }
    }
}

// Amdmin email confirmation page
.login .admin-email-confirm-form {
    border: 1px solid hsl(var(--clr-border-default-hsl) / 0.2);
    box-shadow: none;

    h1.admin-email__heading {
        font-size: var(--step-3);
        color: var(--clr-text-100);
        padding-block-end: var(--space-2xs);
        border-bottom: none;
    }

    p.admin-email__details {
        display: block;
        font-family: var(--font-family-body);
        font-size: var(--step--1);

        a {
            @include visually-hidden;
        }
    }

    .admin-email__actions-primary {
        display: flex;
        justify-content: space-between;
        gap: var(--space-l);
    }

    .admin-email__actions-secondary a {
        font-family: var(--font-family-body);
        font-size: var(--step--1);
        color: var(--clr-text-link);

        &:hover,
        &:active {
            text-decoration: underline;
            text-decoration-color: var(--clr-text-link);
            -webkit-text-decoration-color: var(--clr-text-link);
            text-decoration-thickness: 1px;
        }
    }
}
