@use "blocks" as *;

/* 
SINGLE POST STYLES
Layout and styling for single post pages.
*/

.post-content {
    padding: 0 0 var(--space-xl) 0;

    .post-hero {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);

        @media (max-width: 50rem) {
            gap: var(--space-m);
        }

        img {
            aspect-ratio: 16 / 9;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--radius-small);

            @media (min-width: 37.5rem) {
                aspect-ratio: 16 / 7;
                border-radius: var(--radius-normal);
            }
        }

        &__details {
            display: flex;
            flex-direction: column;
            gap: var(--space-m);

            .post-content-title {
                display: flex;
                flex-direction: column;
                gap: var(--space-2xs);

                h1 {
                    max-width: var(--measure-s);
                    font-size: var(--step-5);
                    color: var(--clr-text-100);
                }
            }

            .post-meta {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--space-2xl);
                row-gap: var(--space-m);
                font-family: var(--font-family-headings);

                .post-content-meta {
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--space-3xs) - 0.15rem);

                    .post-meta-title {
                        font-size: var(--step--1);
                        font-weight: var(--fw-bold);
                        color: var(--clr-text-900);
                    }

                    .post-meta-content {
                        display: flex;
                        flex-direction: column;

                        .reading-time {
                            display: inline-flex;
                            align-items: center;
                            gap: var(--space-2xs);
                        }

                        .post-meta-updated {
                            font-size: var(--step--1);
                            color: var(--clr-text-900);
                        }
                    }
                }

                .post-tags {
                    gap: calc(var(--space-3xs) - 0.25rem);
                }
            }
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2xl);
        margin-block-start: var(--space-xl);

        .article-body {
            flex-basis: 0;
            flex-grow: 999;
            min-inline-size: 63%;
        }

        .post-summary {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            padding: var(--space-l);
            padding-block-start: var(--space-m);
            background: var(--clr-surface-300);

            &:before {
                background: linear-gradient(
                    to bottom right,
                    var(--clr-surface-200),
                    var(--clr-surface-600) 50%
                );
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: var(--space-2xs);
                padding-inline-start: 1rem;

                li {
                    list-style-type: disc;
                    padding-inline-start: 0.25rem;

                    &::marker {
                        color: var(--clr-brand-accent);
                    }
                }
            }
        }

        .entry-content {
            :is(h2, h3, h4, h5, h6):not(:first-child) {
                margin-block-start: var(--space-xl);

                + figure,
                + .wp-block-image {
                    margin-block-start: 0;
                }

                + :is(h2, h3, h4, h5, h6) {
                    margin-block-start: var(--space-s);
                }
            }

            ul,
            ol {
                @extend .flow-tiny;
            }
        }

        .article-sidebar {
            flex-basis: 20rem;
            flex-grow: 1;
            border-inline-start: 1px solid var(--clr-border-darker);
            padding-inline-start: var(--space-2xl);

            @media (max-width: 72.188rem) {
                padding-inline-start: 0;
                border-inline-start: none;
            }

            .author-info {
                a {
                    display: block;
                }
            }

            .article-share {
                display: flex;
                flex-direction: column;
                gap: var(--space-xs);
            }
        }
    }
}
