/* 
TEAM OPENINGS PAGE
Layout and styling for the team openings page panels.
*/

body.page-template-team-openings {
    .team-openings {
        margin-block-end: var(--space-3xl);

        .page-title {
            margin-block-end: var(--space-m);
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            width: 100%;
            max-width: 60rem;
            // margin-block-end: var(--space-m);
        }
    }

    .team-openings__panel {
        padding: var(--space-m);
        border-radius: var(--radius-normal);

        h2.team-openings__title {
            font-size: var(--step-2);
        }

        &::after {
            border-radius: var(--radius-normal);
        }
    }

    .team-openings__link {
        font-family: var(--font-family-headings);
        font-weight: var(--fw-semibold);
    }

    @media (min-width: 48rem) {
        .team-openings__list {
            width: 65%;
        }
    }
}
