@use 'utilities' as *;

/* 
LATEST ARTICLES BLOCK
*/

// Latest articles
.latest-articles-featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: var(--space-m);

    article {
        .post-card-content {
            gap: 0;

            .entry-content {
                margin-block: var(--space-xs);
            }
        }
    }

    @media (max-width: 45rem) {
        gap: var(--space-xl);
    }

    .category-tag {
        @include visually-hidden;
    }
}