@use "utilities" as *;

/* 
LATEST ARTICLES BLOCK
*/

// Latest articles
.latest-articles-featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: var(--space-m);

    header {
        margin-block-start: var(--space-xs);
    }
}
