/* 
BLOCKQUOTE
Layout and styling for in-post blockquotes.
*/

:is(.single-post) {
    blockquote {
        margin-block: var(--space-xl);
    }
}

blockquote {
    position: relative;
    border-inline-start: 2px solid var(--clr-brand-accent);
    padding-inline-start: var(--space-m);
    font-family: var(--font-family-headings);

    p:not(:nth-child(2)) {
        font-size: var(--step-2);
        font-weight: var(--fw-bold);
        font-style: italic;
        line-height: 1.3;
        margin-block-end: var(--space-3xs);
        background: linear-gradient(
            90deg,
            hsl(var(--clr-brand-accent-hsl)),
            hsl(var(--clr-brand-primary-hsl))
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: calc(var(--step--1) + 0.1rem);
        font-weight: var(--fw-semibold);
        color: var(--clr-text-400);

        cite {
            font-style: normal;
        }
    }
}
