/* 
BLOCKQUOTE
Layout and styling for in-post blockquotes.
*/

:is(.single-post) {
    blockquote {
        margin-block: var(--space-xl);
    }
}

blockquote {
    position: relative;
    border-inline-start: 2px solid var(--clr-brand-accent);
    padding-inline-start: var(--space-m);

    p:first-of-type {
        font-size: var(--step-2);
        font-weight: var(--fw-bold);
        line-height: 1.3;
        margin-block-end: var(--space-2xs);
        background: linear-gradient(
            90deg,
            hsl(var(--clr-brand-accent-hsl)),
            hsl(var(--clr-brand-primary-hsl))
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: var(--step--1);
        font-style: italic;
        color: var(--clr-text-400);
    }
}
