@use "utilities" as *;

/* 
CALL OUT PANEL
Layout and styling for panels that are styled differently to regular sections.
*/

.call-out-panel,
.call-out-panel-large {
    position: relative;
    padding: calc(var(--space-s) + 0.25rem);
    background: var(--clr-surface-300);
    border-radius: var(--radius-small);

    &::after {
        @include panel-border-highlight;
        border-radius: var(--radius-small);
        opacity: 0.4;
    }
}

.call-out-panel-large {
    padding: var(--space-3xl);
    border-radius: var(--radius-normal);

    &::before {
        border-radius: var(--radius-normal);
    }
}
