@use "utilities" as *;

/* 
CALL OUT PANEL
Layout and styling for panels that are styled differently to regular sections.
*/

.call-out-panel,
.call-out-panel-large {
    position: relative;
    padding: calc(var(--space-s) + 0.25rem);
    border-radius: var(--radius-small);
    overflow: hidden;

    &::before {
        @include soft-glow;
    }

    &::after {
        @include img-border-highlight;
        border-radius: inherit;
    }
}

.call-out-panel-large {
    padding: var(--space-3xl);
    border-radius: var(--radius-normal);

    &::before {
        border-radius: var(--radius-normal);
    }
}
