/* 
CATEGORY TAG BLOCK
*/

.category-tag {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3xs);
    width: fit-content;
    margin-block-end: var(--space-3xs);
    color: var(--clr-text-900);

    svg {
        fill: var(--clr-text-900);
    }

    span {
        font-size: 14px;
        font-weight: var(--fw-semibold);
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-block-start: 1px;
    }
}

body:is(.single-post) .category-tag {
    color: var(--clr-brand-accent);

    svg {
        fill: currentColor;
    }
}