/* 
CATEGORY TAG BLOCK
*/

.category-tag {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3xs);
    width: fit-content;
    color: inherit;

    &--podcasts,
    &:is(article.category-podcasts *) {
        color: var(--clr-brand-accent);
    }

    &--non-podcasts,
    &:is(article.category-articles *) {
        color: var(--clr-brand-secondary);
    }

    span {
        font-family: var(--font-family-headings);
        font-size: var(--step--1);
        // font-weight: var(--fw-bold);
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-block-start: 1px;
    }
}
