@use "utilities" as *;

/* 
CUSTOM MEDIA PLAYER BLOCK
Custom styles to override vLite.js defaults and provide a basic custom theme.
*/

/* Scope all vLite custom styles to .podcast-player */
/* Scope all vLite custom styles to .podcast-player */
.podcast-player {
    .v-vlite {
        --vlite-colorPrimary: var(--clr-brand-secondary);
        --vlite-background: var(--clr-surface-300);
        --vlite-color: var(--clr-text-100);
        --vlite-accent: var(--clr-brand-primary);
        --vlite-control-background: var(--clr-surface-300);
        --vlite-control-hover: var(--clr-surface-100);
        --vlite-progress-bg: var(--clr-surface-100);
        --vlite-progress-fg: var(--clr-brand-secondary);
        --vlite-progress-buffer: var(--clr-surface-50);
        --vlite-volume-bg: var(--clr-surface-100);
        --vlite-volume-fg: var(--clr-brand-primary);
        --vlite-transition: all 0.25s ease;

        --vlite-controlBarHeight: 5rem;
        --vlite-controlBarHorizontalPadding: 1rem;
        --vlite-controlBarBackground: linear-gradient(
            0deg,
            #000 -50%,
            transparent
        );
        --vlite-controlsColor: #fff;
        --vlite-controlsOpacity: 1;
        --vlite-progressBarHeight: 5px;
        --vlite-progressBarBackground: rgba(255, 255, 255, 0.15);
    }

    // Specificity wrapper from vLite
    .v-vlite.v-audio {
        background-image: linear-gradient(
            90deg,
            hsl(334deg 86% 47%) 0%,
            hsl(330deg 81% 48%) 6%,
            hsl(325deg 73% 50%) 13%,
            hsl(319deg 65% 51%) 20%,
            hsl(311deg 57% 51%) 28%,
            hsl(298deg 49% 52%) 36%,
            hsl(283deg 57% 57%) 45%,
            hsl(267deg 65% 62%) 54%,
            hsl(250deg 74% 66%) 64%,
            hsl(232deg 85% 66%) 77%,
            hsl(215deg 95% 55%) 100%
        );
        border-radius: var(--radius-normal);
        box-shadow: none;

        .v-container {
            display: flex;
            flex-direction: column;
            padding-block-start: var(--space-s);
        }

        // Episode number and title
        .v-player-meta {
            display: flex;
            gap: var(--space-xs);
            font-family: var(--font-family-headings);
            font-weight: var(--fw-bold);
            font-size: var(--step-0);
            padding-inline: calc(var(--space-s) + 1px);

            &__number {
                height: fit-content;
                padding-inline: var(--space-2xs);
                background: hsl(var(--clr-surface-50-hsl) / 0.15);
                border-radius: var(--radius-small);
            }
        }

        /* Main audio player and controls container */
        .v-controlBar {
            display: flex;
            align-items: center;
            gap: var(--space-s);
            margin: 0;
            padding-inline: var(--space-m);
            font-family: var(--font-family-headings);
            color: var(--clr-text-400);
        }

        /* Play/Pause button */
        .v-playPauseButton {
            border: none;
            cursor: pointer;
            transition: var(--vlite-transition);
            color: var(--vlite-accent);

            svg {
                width: auto;
                height: 26px;
                fill: var(--clr-surface-50);
            }

            &.v-controlButton {
                width: fit-content;
                margin-block-start: 1px;
            }
        }

        /* Time display */
        .v-time {
            justify-content: flex-end;
            min-width: 5.6rem;
            font-size: var(--step--2);
            color: currentColor;
            padding: 0;
        }

        /* Progress bar */
        .v-progressBar {
            flex: 1;
            height: 6px;
            margin-inline: auto;
            background: hsl(42, 89%, 71%, 0.2);
            border-radius: var(--radius-circle);

            &::-webkit-slider-thumb {
                width: 16px;
                height: 16px;
                transform: translateY(-3px);
                background: hsl(var(--clr-brand-secondary-hsl));
                box-shadow: 0 4px 8px hsl(var(--clr-surface-300-hsl) / 0.5);
            }

            &::-moz-range-thumb {
                width: 16px;
                height: 16px;
                background: hsl(var(--clr-brand-secondary-hsl));
                box-shadow: 0 4px 8px hsl(var(--clr-surface-300-hsl) / 0.5);
            }
        }

        /* Volume button */
        .v-volumeButton {
            width: fit-content;
            background: none;
            border: none;
            cursor: pointer;

            svg {
                fill: var(--clr-surface-50);
                width: 20px;
                height: 20px;
            }
        }

        /* Hide unwanted default icons if needed */
        .vlite-svg-volume {
            display: none;
        }
    }
}
