@use "utilities" as *;

/* 
CUSTOM MEDIA PLAYER BLOCK
Custom override styles for the vLite player.
*/

.podcast-player {
    position: relative;
    background: linear-gradient(
        132deg,
        hsla(215, 95, 55, 0.2),
        hsla(334, 88, 68, 0.2)
    );
    background-size: 600% 600%;
    background-position: 0% 2%;
    animation: player-bg 12s ease infinite;
    border-radius: var(--radius-circle);
    overflow: hidden;
    will-change: background-position;

    @keyframes player-bg {
        0% {
            background-position: 0% 2%;
        }
        50% {
            background-position: 100% 99%;
        }
        100% {
            background-position: 0% 2%;
        }
    }

    .v-vlite {
        --vlite-colorPrimary: var(--clr-brand-accent);
        --vlite-progressBarBackground: rgba(109, 153, 248, 0.3);
        --vlite-progressBarHeight: var(--space-2xs);

        padding-block: calc(var(--space-s) - 0.8rem);
        padding-inline: 0.5rem 1.65rem;
        box-shadow: none;
        z-index: 1;
    }

    .v-controlBar {
        height: auto;
        padding-inline: 0;
    }

    .v-controlButton {
        svg {
            width: auto;
            height: 24px;
            fill: var(--clr-surface-50);
        }

        svg.v-iconUnpressed {
            margin-block-start: 2px;
            margin-inline-start: 6px;
        }

        svg.v-iconPressed {
            margin-block-start: 1px;
            margin-inline-start: 1px;
        }
    }

    .v-playPauseButton {
        width: 56px;
        height: 56px;
        margin-inline-end: var(--space-s);
        background: hsla(334, 88, 68, 0.3);
        border-radius: var(--radius-circle);
    }

    .v-time {
        color: var(--clr-text-100);
        font-size: var(--step--2);
    }
}
