/* 
HOMEPAGE HERO
Header styling for the hero section on the homepage.
*/

.doctors-bbb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);

    picture {
        filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.2));
    }

    h6 {
        margin-block-end: var(--space-xs);
    }
}
