/* 
HOMEPAGE HERO
Header styling for the hero section on the homepage.
*/

.doctors-bbb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);

    picture {
        filter: drop-shadow(0 0 2rem hsl(var(--clr-brand-primary-hsl) / 0.3));
    }
}
