/* 
ALL THE DOCTORS + BIG BLUE BOX TEXT GRAPHIC
Styling and animated background colours.
*/

/* -------------------------------------------------
   Modern path (default)
-------------------------------------------------- */

.doctors-bbb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);

    picture {
        filter: drop-shadow(0 0 2rem hsl(var(--clr-brand-accent-hsl) / 0.3));
    }
}

// Safari invisible bounding-box fix
@supports (-webkit-backdrop-filter: blur(0)) {
    .doctors-bbb picture {
        transform: translateZ(0);
        filter: drop-shadow(0 0 2rem hsl(var(--clr-brand-accent-hsl) / 0.3));
    }
}
