@use 'utilities' as *;

/* 
HEADER BLOCK
Header styling for logo, nav etc.
*/  

.site-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: var(--space-xs) 0;
    z-index: 10;

    .header-backdrop { 
        position: absolute;
        inset: 0;
        -webkit-backdrop-filter: saturate(150%) brightness(120%) blur(10px);
        backdrop-filter: saturate(150%) brightness(120%) blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid var(--clr-surface-400);
        z-index: -1;
    }

    &__inner {
        position: relative;
        display: flex;  
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__logo img {
        width: 190px;
        height: auto;
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs);
        align-items: end;

        .nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: var(--space-l);
            justify-content: flex-end;
            font-weight: var(--fw-semibold);
            margin: 0;

            a {
                font-size: var(--step--1);
            }

            @media (min-width: 45rem) and (hover) {
                & > * {
                    transition: opacity 0.2s ease;
                }

                &:hover > *:not(:hover) {
                    opacity: .25;
                }
            }

            .nav-search-icon svg {
                width: 16px;
                height: 16px;
                fill: var(--clr-text-100);
    
                &:hover {
                    fill: var(--clr-brand-primary);
                }
            }
        }

        .menu-nav-toggle {
            display: none;
        }
    }

    @media (max-width: 45rem) {
        &__navigation p {
            display: none;
        }

        .nav {
            position: fixed;
            width: 80%;
            height: 100vh;
            inset: 0 0 0 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: var(--space-3xl) var(--space-l);
            gap: var(--space-l);
            font-size: var(--step-1);
            background: var(--clr-surface-400);
            z-index: 1000;
            transform: translateX(0);
            transition: transform .3s cubic-bezier(0.77,0,0.18,1);

            &[data-visible="true"] {
                transform: translateX(-100%);
            }

            a {
                font-size: var(--step-0);
            }
        }

        .menu-nav-toggle {
            display: block;
            position: absolute;
            right: 0.35rem;
            width: 2.25rem;
            aspect-ratio: 1;
            background: none;
            border: none;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 9999;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: -20px;
                right: -10px;
                bottom: -20px;
                left: -30px;
            }

            span {
                position: absolute;
                top: 50%;
                display: block;
                width: 100%;
                height: 5px;
                background-color: var(--clr-text-100);
                transition: .25s ease-out;
            }

            span:nth-of-type(1) {
                top: 30%;
            }

            span:nth-of-type(2) {
                top: 70%;
            }
        }

        .menu-nav-toggle[aria-expanded="true"] {
            position: fixed;
            right: 2.6rem;

            span {
                background-color: var(--clr-brand-secondary);
            }

            span:nth-of-type(1) {
                top: 50%;
                transform: rotate(45deg);
            }

            span:nth-of-type(2) {
                top: 50%;
                transform: rotate(-45deg);
            }

            @media (max-width: 599px) {
                right: 2rem;
            }
        }
    }
}