/* 
HOMEPAGE HERO
Header styling for the hero section on the homepage.
*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.2));

    h5 {
        text-align: center;
    }
}