/* 
LATEST PODCAST EPISODE BLOCK
*/

.latest-podcast-ep {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    gap: var(--space-m);
    margin-block-start: var(--space-xl-2xl);
    margin-block-end: var(--space-l);

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-block-start: -6px;
        gap: var(--space-xs);

        a { 
            display: block;
        }

        p {
            color: var(--clr-text-400);
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);

        h4 {
            max-inline-size: 30ch;
        }
    }

    &__excerpt {
        @media (max-width: 930px) {
            display: none;
        }
    }
}