/* 
LATEST ARTICLES BLOCK
*/

.latest-articles-featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: var(--space-m);

    article {
        margin-block-end: var(--space-s);

        > * + * {
            margin-block-start: 0.85rem;
        }

        footer {
            margin-block-start: 0;
        }
    }
}