/* 
LATEST PODCAST EPISODE BLOCK
*/

.latest-podcast-ep {
    padding: calc(var(--space-3xl) + var(--space-xl)) var(--space-l) var(--space-l);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
    }
    
    &__content {
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        color: var(--clr-text-100);
        margin-block-start: -6px;
        z-index: 1;

        p:not(.icon-text-group) {
            margin-block-end: var(--space-2xs);
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);

        .icon-text-group {
            display: flex;
            flex-wrap: wrap;
            font-weight: var(--fw-semibold);
        }
    }

    &__copy {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);

        h1 {
            font-size: var(--step-5);
        }
    }

    &__excerpt {
        font-size: var(--step-1);
        font-weight: var(--fw-semibold);
        line-height: 1.4;

        @media (max-width: 930px) {
            display: none;
        }
    }
}