/* 
LATEST PODCAST EPISODE BLOCK
*/

.latest-podcast-ep {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: var(--space-m);
    row-gap: var(--space-s);
    margin-block-start: var(--space-2xl-3xl);

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a { 
            display: block;
        }

        p {
            color: var(--clr-text-400);
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
    }
}