/* 
MULTI-COL POSTS
Layout and styling for small post cards in multiple columns (desktop).
*/

.more-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--space-2xl);

    &__column {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        height: 100%;

        ul {
            flex: 1;

            li {
                &:not(:last-child) {
                    border-bottom: 1px solid var(--clr-border-darker);
                    padding-block-end: var(--space-s);
                    margin-block-end: var(--space-s);
                }
            }
        }
    }

    @supports (grid-template-rows: subgrid) {
        grid-template-rows: auto 1fr auto;

        &__column {
            display: grid;
            grid-template-rows: subgrid;
            grid-row: span 3;

            ul {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                gap: var(--space-s);
            }
        }
    }

    // Content styling
    .more-articles-content {
        display: flex;
        flex-direction: column;

        a {
            display: block;

            h6 {
                margin-block: var(--space-s) var(--space-2xs);
                text-wrap: pretty;
            }

            img {
                width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
            }
        }
    }

    .button-ghost {
        width: fit-content;

        @media (max-width: 48em) {
            width: auto;
        }
    }
}