@use "utilities" as *;

/* 
LINKS TO PODCAST APPS BLOCK
*/

.podcast-app-links {
    display: flex;
    flex-direction: column;

    h6 {
        font-size: var(--step-0);
        font-weight: var(--fw-bold);
    }

    &__links-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-m);
        padding-block: var(--space-s);
        border-radius: var(--radius-normal);

        li.app {
            --app-hover-color: currentColor;
            --app-hover-background: transparent;
            display: flex;
            align-items: center;
            font-family: var(--font-family-headings);
            font-size: var(--step-0);

            a {
                display: flex;
                align-items: center;
                gap: var(--space-2xs);
                padding-block: var(--space-2xs);
                padding-inline-start: var(--space-2xs);
                padding-inline-end: var(--space-xs);
                color: inherit;
                text-decoration: none;
                border-radius: var(--radius-circle);
                transition: color 0.2s ease, background-color 0.2s ease;
            }

            a svg {
                flex-shrink: 0;
                transition: color 0.2s ease, fill 0.2s ease, stroke 0.2s ease;
            }

            a svg * {
                transition: inherit;
            }

            a:is(:hover, :focus-visible) {
                color: var(--app-hover-color);
                background-color: var(--app-hover-background);
            }
        }

        @media (max-width: 31.25rem) {
            li {
                width: 100%;
            }
        }

        li:nth-child(1) {
            --app-hover-color: hsl(283, 96%, 71%);
            --app-hover-background: hsla(283, 96%, 71%, 0.15);
        }

        li:nth-child(2) {
            --app-hover-color: hsl(141, 76%, 48%);
            --app-hover-background: hsla(141, 76%, 48%, 0.15);
        }

        li:nth-child(3) {
            --app-hover-color: hsl(360, 100%, 60%);
            --app-hover-background: hsla(360, 100%, 60%, 0.15);
        }

        li:nth-child(4) {
            --app-hover-color: hsl(215, 95%, 55%);
            --app-hover-background: hsla(215, 95%, 55%, 0.15);
        }
    }
}

:is(body.home) .podcast-app-links {
    gap: var(--space-xs);
    text-align: center;

    &__links-block {
        padding: 0;
    }
}
