@use "utilities" as *;

/* 
LINKS TO PODCAST APPS BLOCK
*/

.podcast-app-links {
    p {
        margin-block-end: var(--space-xs);
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 1rem;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;

        @media (max-width: 64rem) {
            grid-template-columns: repeat(2, auto);
        }

        @media (max-width: 35.938rem) {
            grid-template-columns: 1fr;
        }

        .app {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                text-align: center;
                padding: var(--space-xs) var(--space-m);
                border-radius: var(--radius-small);

                &:hover {
                    background: var(--clr-surface-400);
                }
            }

            a.text-button {
                display: flex;
                align-items: center;
                gap: var(--space-2xs);

                img {
                    width: auto;
                    height: 1.4rem;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
