@use "utilities" as *;

/* 
LINKS TO PODCAST APPS BLOCK
*/

.podcast-app-links {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    h6 {
        font-size: var(--step-0);
        font-weight: var(--fw-bold);
    }

    &__links-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-xl);
        padding-block: var(--space-m);
        padding-inline: var(--space-l);
        background: var(--clr-surface-400);
        border-radius: var(--radius-normal);

        li.app {
            display: flex;
            align-items: center;
            font-size: var(--step--1);

            a {
                display: flex;
                align-items: center;
                gap: var(--space-2xs);
                text-decoration: none;
                transition: color 0.2s ease;
            }
        }

        @media (max-width: 31.25rem) {
            li {
                width: 100%;
            }
        }

        li:nth-child(1) {
            a:hover {
                color: hsl(283, 96%, 71%);
            }
        }

        li:nth-child(2) {
            a:hover {
                color: hsl(141, 76%, 48%);
            }
        }

        li:nth-child(3) {
            a:hover {
                color: hsl(360, 100%, 50%);
            }
        }

        li:nth-child(4) {
            a:hover {
                color: var(--clr-brand-primary);
            }
        }
    }
}

:is(body.home) .podcast-app-links {
    gap: var(--space-s);
    text-align: center;

    &__links-block {
        padding: 0;
        background: none;
    }
}
