/* 
LINKS TO PODCAST APPS BLOCK
*/

.podcast-app-links {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(185px, 100%), 1fr));
    gap: var(--space-xs);
    align-items: start;
    width: fit-content;
    max-width: 100%;

    &__button {
        width: 100%;
        position: relative;
        min-height: 45px;
        

        .button-ghost {
            padding: 0.4em 0.8em;
            width: 100%;
            min-width: max-content;
        }
    }

    // Popcast apps pop up
    .pod-links-menu {
        details summary {
            list-style: none;
            cursor: pointer;

            // Safari fix
            &::-webkit-details-marker {
                display: none;
            }
        }

        details[open] summary {
            background: rgba(109 153 248 / 40%);
            border-radius: var(--radius-small);
        }

        .other-pod-links-popup {
            --popover-spacing: calc(var(--space-xs) - 0.3rem);
            position: absolute;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: var(--popover-spacing);
            bottom: 100%;
            right: 0;
            min-width: fit-content;
            margin-block-end: 0.5rem;
            padding: var(--popover-spacing);
            background: var(--clr-surface-400);
            transition: all 0.2s ease-out;
            z-index: 100;

            &__item {
                position: relative;
                
                img {
                    width: 2.5rem;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    filter: grayscale(1) brightness(0.9);
                    transition: filter 0.2s ease-out;

                    &:hover {
                        filter: grayscale(0) brightness(1) saturate(1.2);
                    }
                }
            }
        }
    }
}