/* 
POST IMAGES
Layout and styling for featured and preview card images.
*/

article {
    .post-thumb-img {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    figure, .wp-post-image figure {
        max-width: 100%;
        margin-inline: auto;
        padding-block-start: var(--space-s);
        margin-block-end: var(--space-l);
        
        img {
            border-radius: var(--radius-small);
        }

        figcaption {
            font-size: var(--step--1);
            font-style: italic;
            color: var(--clr-text-900);
            margin-block-start: var(--space-2xs);
        }
    }
}