@use 'utilities' as *;

/* 
POST PREVIEW CARDS
Layout and styling for articles post cards.
*/

article {
    position: relative;
    display: flex;
    flex-direction: column;

    a:has(img) {
        display: block;
    }

    .post-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--space-3xs);
        margin-block-start: var(--space-2xs);

        footer {
            margin-block-start: var(--space-2xs);
        }
    }
}