/* 
POST IMAGES
Layout and styling for featured and preview card images.
*/

.post-thumb-img {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Post content area */
.entry-content {
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    figure,
    .wp-post-image figure {
        inline-size: fit-content;
        margin-inline: auto;
        padding-block-start: var(--space-s);
        margin-block-end: var(--space-l);

        img {
            border-radius: var(--radius-small);
        }

        figcaption {
            contain: inline-size;
            font-size: var(--step--1);
            font-style: italic;
            color: var(--clr-text-900);
            margin-block-start: var(--space-2xs);
        }
    }
}
