@use "utilities" as *;

/* 
POST PREVIEW CARDS
Layout and styling for articles post cards.
*/

// Responsive Grid layout for cards
@mixin post-cards-grid {
    --min-col-size: 20rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--min-col-size), 100%), 1fr)
    );
    gap: var(--space-m);
}

// .post-cards-grid {
//     display: grid;
//     grid-template-columns: repeat(
//         auto-fit,
//         minmax(min(var(--min-col-size), 100%), 1fr)
//     );
//     gap: var(--space-m);
// }

// Card styles
article {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-2xs);
    margin-block-end: var(--space-s);

    .article-top {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
    }

    a:has(img) {
        display: block;
    }

    .post-thumb-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .post-card-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--space-xs);
        margin-block-start: var(--space-3xs);

        footer {
            margin-block-start: auto;
        }
    }
}

// Homepage hero post card
.post-card-hero {
    @media (max-width: 900px) {
        margin-block-end: var(--space-l);
    }

    &__content {
        display: flex;
        gap: var(--space-l);

        @media (max-width: 900px) {
            flex-direction: column;
            gap: var(--space-s);
        }
    }

    .post-card-hero-details {
        h6.section-title {
            margin-block-end: var(--space-2xs);
        }

        a.button {
            margin-block-start: var(--space-s);
        }
    }

    .post-card-hero-details {
        &__content {
            max-width: 50rem;
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            margin-block-start: -6px;
            z-index: 1;

            &:not(h1) {
                color: var(--clr-text-400);
            }

            p:not(.icon-text-group) {
                margin-block-end: var(--space-2xs);
            }
        }

        &__details {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);

            .icon-text-group {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &__copy {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);

            h1 {
                font-size: var(--step-5);
            }
        }

        &__excerpt {
            line-height: 1.4;

            @media (max-width: 62.5rem) {
                @include visually-hidden;
            }
        }
    }
}

// Specific tweak to suggested posts on single post pages
body:is(.single-post) {
    article.has-post-thumbnail .author-meta {
        &__author-name {
            @include visually-hidden;
        }
    }
}
