/* 
POST TAGS
Layout and styling for single post page and search results tags.
*/

.post-tags {
    display: flex;
    flex-direction: column;

    p {
        font-size: var(--step--2);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2xs);
        list-style: none;

        li a {
            display: inline-block;
            width: max-content;
            font-family: var(--font-family-headings);
            font-size: var(--step--2);
            font-weight: var(--fw-bold);
            text-transform: uppercase;
            color: var(--clr-border-link);
            padding: 1px 5px;
            border: 1px solid var(--clr-border-link);
            border-radius: var(--radius-xs);

            &:hover {
                text-decoration: none;
                background-color: var(--clr-border-link);
                color: var(--clr-surface-700);
            }
        }
    }
}
