@use "utilities" as *;

/* 
POST PREVIEW CARDS
Layout and styling for articles post cards.
*/

// Layout
@mixin post-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: var(--space-m);
}

.post-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: var(--space-m);
}

// Card styles
article {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-2xs);
    margin-block-end: var(--space-s);

    .article-top {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
    }

    a:has(img) {
        display: block;
    }

    .post-card-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--space-xs);
        margin-block-start: var(--space-3xs);

        footer {
            margin-block-start: auto;
        }
    }
}

// Homepage hero post card
.post-card-hero {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-l);
    }

    .post-card-hero-details {
        h6.section-title {
            margin-block-end: var(--space-2xs);
        }

        a.button {
            margin-block-start: var(--space-m);
        }
    }
}

// Specific tweak to suggested posts on single posts
body:is(.single-post) {
    article.has-post-thumbnail .author-meta {
        &__author-name {
            @include visually-hidden;
        }
    }
}
