@use "utilities" as *;

/* 
POST CLOSING THOUGHTS
Layout and styling for the closing paragraph and review score.
*/

.closing-thoughts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space-xl-2xl);
    padding: var(--space-m);
    overflow: hidden;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        bottom: -2rem;
        right: -30rem;
        width: 1200px;
        height: 200px;
        background: radial-gradient(
            circle,
            hsl(var(--clr-brand-accent-darker-hsl) / 0.4) 0,
            hsl(var(--clr-brand-accent-darker-hsl) / 0) 60%
        );
        border-radius: var(--radius-circle);
        filter: blur(80px);
        z-index: -1;

        @media (max-width: 38.875rem) {
            right: -15rem;
        }
    }

    &::after {
        @include img-border-highlight(var(--clr-border-default));
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);

        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: 50%;

        .closing-thoughts-title {
            margin-block-start: 0;
        }

        p {
            color: var(--clr-text-400);
        }
    }

    .score-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-basis: 12rem;
        flex-grow: 1;

        @media (max-width: 39.938rem) {
            flex-grow: unset;
        }

        .score-circle {
            width: 100%;
            height: auto;
            background: transparent;
            transform: rotate(-90deg); /* Stroke starts from top */
            filter: drop-shadow(0 0 4px var(--clr-brand-primary));
            position: relative;

            @media (max-width: 39.938rem) {
                max-width: 220px;
            }

            .score-circle-bg {
                fill: transparent;
            }

            .score-circle-stroke {
                fill: none;
                stroke: var(--clr-surface-50);
                stroke-width: 8;
                stroke-linecap: round;
            }
        }

        .score-value {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% + -4px), -50%);
            font-size: calc(var(--step-6) * 1.2);
            font-weight: var(--fw-bold);
            letter-spacing: -8px;
            color: var(--clr-text-100);
            filter: drop-shadow(0 0 4px var(--clr-brand-primary));
            pointer-events: none;

            @media (max-width: 39.938rem) {
                font-size: 4rem;
            }
        }
    }
}
