@use "utilities" as *;

/* 
ROUNDTABLE LINK PANEL
Styles for the Roundtable link panel
*/

.round-table-link-panel {
    position: relative;
    background-color: var(--clr-surface-600);
    overflow: hidden;
    z-index: 1;

    // Tardis bg image
    &::before {
        content: "";
        position: absolute;
        inset: 1px;
        width: 100%;
        height: 110%;
        background-image: url("images/round-table-link-bg.webp");
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
        border-radius: var(--radius-normal);
        z-index: -1;

        @media (max-width: 998px) {
            background-size: cover;
        }
    }

    &::after {
        @include img-border-highlight;
        border-radius: inherit;
    }

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: var(--space-l) var(--space-l) var(--space-l) var(--space-l);
        isolation: isolate;

        h4,
        p {
            max-width: 55ch;
        }

        p {
            margin-block-end: var(--space-s);
        }

        a.button {
            display: block;
            margin-block-start: var(--space-m);
        }

        // Colour gradient behind text
        &::before {
            content: "";
            position: absolute;
            inset: 1px;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                90deg,
                hsl(var(--clr-surface-600-hsl) / 1) 55%,
                hsl(var(--clr-surface-600-hsl) / 0) 100%
            );
            border-radius: var(--radius-normal);
            z-index: -2;

            @media (max-width: 998px) {
                background: hsl(var(--clr-surface-600-hsl) / 0.8);
            }
        }

        // Radial-gradient glow
        &::after {
            @include soft-glow;

            @media (max-width: 998px) {
                @include visually-hidden;
            }
        }
    }
}
