/* 
SEARCH OVERLAY BLOCK
Search overlay that appears when the search icon is clicked
*/

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 10, 29, 0.8);
    opacity: 0;
    backdrop-filter: blur(8px);
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 100;

    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
        padding-inline: var(--gutter);
        background: rgba(1, 10, 29, 0.9);
        border-bottom: 1px solid var(--clr-border-darker);
        transition: height 0.2s ease;
        z-index: 150;

        @media (width > 37.5rem) {
            padding-inline: var(--gutter-large);
        }

        .search-form {
            display: flex;
            flex-direction: column;
            gap: var(--space-s);
            width: 50rem;
            padding-block-end: var(--space-s);
            border-bottom: 2px solid var(--clr-border-darker);

            @media (width < 32rem) {
                border: none;
            }

            .search-form-title {
                display: flex;
                align-items: center;
                gap: var(--space-xs);

                @media (width < 32rem) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                svg {
                    width: 3.5rem;
                    height: 3.5rem;
                    padding: var(--space-2xs);
                    background: var(--clr-surface-300);
                    border-radius: var(--radius-xs);
                }
            }

            .inputs {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (width < 32rem) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--space-m);
                }
            }

            .search-field {
                flex-grow: 1;
                font-size: 1.25rem;
                padding: 0;
                color: var(--clr-text-100);
                background: none;
                border: none;
                border-radius: 0;

                @media (width < 32rem) {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    margin-block-start: var(--space-2xs);
                    padding-block: var(--space-xs);
                    padding-inline: var(--space-xs);
                    background: var(--clr-brand-primary-darker);
                    border: 1px solid hsl(var(--clr-brand-primary-hsl) / 0.25);
                    border-radius: var(--radius-small);
                }

                &:focus-visible {
                    outline: none;
                }

                &::placeholder {
                    color: var(--clr-surface-200);

                    @media (width < 32rem) {
                        color: hsl(var(--clr-surface-100-hsl) / 0.5);
                    }
                }
            }

            .search-submit {
                max-width: 8rem;
                align-self: flex-end;
                cursor: pointer;
            }
        }
    }
}

.search-overlay[aria-hidden="false"] {
    opacity: 1;
    pointer-events: auto;
}

.search-overlay[aria-hidden="false"] .search-overlay__content {
    height: 50vh;
}
