@use "utilities" as *;

/* 
SIDEBAR
Layout and styling for the main sidebar that appears on the homepage and a select other pages.
*/

.main-sidebar {
    .widget .popular-posts {
        .wpp-list {
            li {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: var(--space-xs);
                margin-bottom: 0;

                @media (max-width: 59.75rem) {
                    margin-block-end: var(--space-l);
                }

                @media (max-width: 25rem) {
                    grid-template-columns: 1fr;
                }

                a:not(.wpp-post-title) {
                    max-width: 135px;
                    border-radius: var(--radius-xs);
                    overflow: hidden;
                }

                img.wpp-thumbnail {
                    width: 100%;
                    height: 100%;
                    border-radius: var(--radius-xs);
                    @include img-hover-effect;
                }

                a.wpp-post-title {
                    display: block;
                    text-box-trim: trim-both;
                    text-box-edge: cap alphabetic;
                    font-family: var(--font-family-headings);
                    font-size: calc(var(--step--1) + 0.15rem);
                    font-weight: var(--fw-semibold);
                    line-height: 1.3;
                    text-wrap: unset;

                    @media (max-width: 59.75rem) {
                        font-size: var(--step-0);
                    }
                }
            }
        }
    }

    .discord-link {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);

        &::before {
            @include soft-glow($opacity: 0.3, $width: 500px, $height: 150px);
            left: -13rem;
        }
    }

    .author-section-small {
        &__author-block {
            display: flex;
            gap: var(--space-xs);
            padding-block: var(--space-xs);

            .author-avatar {
                min-width: 56px;
                transition: all 0.1s ease-in-out;

                &:hover {
                    filter: drop-shadow(
                        0 0 10px hsl(var(--clr-text-link-hsl) / 1)
                    );
                }
            }

            .author-avatar:is(.no-link):hover {
                filter: none;
            }

            .author-block-content {
                display: flex;
                flex-direction: column;
                gap: var(--space-3xs);
            }

            .new-author-img {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 56px;
                height: 56px;
                background-color: var(--clr-surface-400);

                img {
                    align-self: center;
                }
            }

            p:not(:first-child) {
                color: var(--clr-text-900);
            }

            &:is(:first-child) {
                padding-block-start: 0;
            }

            &:is(:last-child) {
                padding-block-end: 0;
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--clr-border-darker);
            }
        }
    }

    .sidebar-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 621px) {
            min-width: 100%;
            height: auto;
        }
    }

    // Prevent section going too wide at first when stacking - 50% width at first layout change then 100% width at narrower viewport widths.
    .prevent-oversized-width {
        @media (40rem <= width < 59.78rem) {
            max-width: 50%;
        }
    }
}
