/* 
SOCIAL CHANNELS
Layout and styling for the list of social channels.
*/

.social-channels {
    li {
        border-block-end: 1px solid var(--clr-border-darker);
        padding-block: var(--space-xs);

        &:is(:first-child) {
            padding-block-start: 0;
        }

        &:is(:last-child) {
            padding-block-end: 0;
            border: none;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > svg {
            opacity: 0.5;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: var(--space-xs);

        // p {
        //     font-family: var(--font-family-headings);
        // }
    }
}

// Icons horizontal list
.social-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-s);

    li a {
        width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        border-radius: var(--radius-small);
        transition: all 0.2s ease-out;

        &:hover {
            background: var(--clr-brand-primary);
        }
    }
}
