/* 
TESTIMONIALS STYLES
Styles for full-width and column based testimonials.
*/

// Full-width testimonials
.testimonial {
    width: 90%;
    margin-inline: auto;

    @media (max-width: 768px) {
        width: 100%;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        padding-inline-start: var(--space-s);
        margin-inline: auto;
        border-left: 4px solid var(--clr-border-link);

        &::before {
            display: none;
        }

        h3,
        p {
            color: var(--clr-text-400);
        }

        h3 {
            font-family: var(--font-family-headings);
            font-weight: var(--fw-semibold);
            font-style: italic;
            font-weight: var(--fw-reg);
            line-height: 1.4;
            text-wrap: wrap;
        }

        em {
            position: relative;
            font-weight: var(--fw-bold);
            color: var(--clr-surface-700);
            background: var(--clr-border-link);
            padding: 0 3px 3px 3px;
            margin-inline-start: -4px;
        }

        @media (max-width: 53em) {
            width: 100%;
        }
    }

    &__source {
        display: flex;
        flex-direction: column;
        gap: calc(var(--space-3xs) - 3px);

        h5,
        cite {
            font-family: var(--font-family-headings);
            font-style: normal;
        }

        p {
            color: var(--clr-brand-tertiary);
        }

        cite {
            display: inline-flex;
            align-items: center;
            gap: var(--space-2xs);
            font-size: var(--step-0);

            svg {
                width: 100px;
                height: 26px;
            }
        }
    }

    &__bg-image {
        position: absolute;
        top: 50%;
        transform: translateY(-55%);
        right: -3%;
        width: 250px;
        height: auto;
        opacity: 0.7;
        z-index: -1;

        @media (max-width: 53em) {
            display: none;
        }
    }
}

// Multi-column testimonials
.testimonials-multi-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: var(--space-xl);

    .testimonial {
        width: 100%;
        padding-block: 0;

        &__content {
            padding-inline-start: 0;
            border-left: none;

            h3 {
                font-size: var(--step-1);
            }
        }

        &__source {
            h3 {
                font-size: var(--step-1);
            }

            cite {
                font-size: var(--step-0);
            }
        }

        &__bg-image {
            display: none;
        }
    }
}
