@use "utilities" as *;

/* 
VIEW SWITCHER BLOCK
Styling for minimal view switcher when a Button Group is overkill.
*/

.view-switcher {
    display: flex;
    gap: var(--space-2xs);
    margin-block-end: var(--space-s);

    &[data-context="category"] {
        button {
            --view-switcher-color: var(--clr-brand-secondary);
            --view-switcher-bg-hsl: var(--clr-brand-secondary-hsl);
        }
    }

    button {
        --view-switcher-color: var(--clr-brand-accent);
        --view-switcher-bg-hsl: var(--clr-brand-accent-hsl);

        position: relative;
        display: flex;
        align-items: center;
        gap: var(--space-2xs);
        font-family: var(--font-family-headings);
        font-size: var(--step-0);
        color: var(--clr-text-900);
        padding-block: calc(var(--space-2xs) - 0.25rem);
        padding-inline: calc(var(--space-2xs) + 0.25rem);
        background: none;
        border: none;
        border-radius: var(--radius-xs);
        cursor: pointer;
        transition:
            color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;

        &[data-category="all"] {
            --view-switcher-color: var(--clr-border-link);
            --view-switcher-bg-hsl: var(--clr-border-link-hsl);
            padding-inline-start: calc(var(--space-s) + 0.4rem);

            &::before {
                content: "";
                position: absolute;
                left: 0.75rem;
                width: 8px;
                height: 8px;
                border-radius: var(--radius-circle);
                background: var(--clr-surface-200);
                transition: background-color 0.2s ease-in-out;
            }
        }

        &[data-category="non-podcasts"] {
            --view-switcher-color: var(--clr-brand-secondary);
            --view-switcher-bg-hsl: var(--clr-brand-secondary-hsl);
        }

        &[data-category="podcasts"] {
            --view-switcher-color: var(--clr-brand-accent);
            --view-switcher-bg-hsl: var(--clr-brand-accent-hsl);
        }

        &:is(:hover, .is-active) {
            color: var(--view-switcher-color);
            background: hsl(var(--view-switcher-bg-hsl) / 0.15);
        }

        &:is(:hover, .is-active)::before {
            background-color: var(--view-switcher-color);
        }
    }
}
