@use "utilities" as *;

.info-block {
    position: relative;
    font-size: calc(var(--step-0) - 0.15rem);
    margin-block: var(--space-xl);
    margin-inline-start: calc(var(--space-m) * -1.1);
    padding-block-start: calc(var(--space-l) + 0.4rem);
    padding-inline-start: var(--space-m);
    border-inline-start: 2px solid var(--clr-brand-primary);

    &__icon {
        position: absolute;
        width: 2.25rem;
        height: 2.25rem;
        top: -0.1rem;
        left: 1.5rem;
        margin-block-end: var(--space-xs);
        filter: drop-shadow(0 0 4px hsl(var(--clr-brand-primary-hsl) / 0.8));
    }

    &__content {
        p {
            max-width: 100%;
            margin: 0;
            color: hsl(215, 95%, 80%);

            &:not(:last-child) {
                margin-block-end: var(--space-s);
            }
        }

        a {
            color: var(--clr-text-link);
            text-decoration: underline;

            &:hover,
            &:focus {
                color: var(--clr-text-link-hover);
            }
        }
    }
}
