@use "utilities" as *;

.info-block {
    position: relative;
    font-size: calc(var(--step-0) - 0.15rem);
    margin-block: calc(var(--space-l) + 0.5rem);
    margin-inline: -2.1rem;
    padding-block: var(--space-m);
    padding-inline: var(--space-m);
    background: hsl(var(--clr-brand-primary-hsl) / 0.1);
    border-left: 3px solid hsl(var(--clr-brand-primary-hsl));
    border-radius: var(--radius-normal);
    overflow: hidden;

    &__icon {
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: -2rem;
        left: -2rem;
        margin-block-end: var(--space-xs);
        filter: drop-shadow(0 0 4px hsl(var(--clr-brand-primary-hsl) / 0.8));
        rotate: 20deg;
        opacity: 0.1;
    }

    &__content {
        p {
            max-width: 100%;
            margin: 0;
            color: var(--clr-text-400);

            &:not(:last-child) {
                margin-block-end: var(--space-s);
            }
        }

        a {
            color: var(--clr-text-link);
            text-decoration: underline;

            &:hover,
            &:focus {
                color: var(--clr-text-link-hover);
            }
        }
    }
}
