@use "utilities" as *;

.team-thoughts {
    position: relative;
    margin-block: var(--space-xl);
    margin-inline-start: calc(var(--space-m) * -1.1);
    // padding-block-start: calc(var(--space-l) + 0.4rem);
    padding-inline-start: var(--space-m);
    border-inline-start: 2px solid hsl(var(--clr-brand-secondary-hsl));

    &__heading {
        color: hsl(var(--clr-brand-secondary-hsl));
    }

    &__entry {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-xs);

        &:not(:last-child) {
            padding-block-end: var(--space-3xs);
        }
    }

    &__author {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
        color: hsl(var(--clr-brand-secondary-hsl));

        img {
            width: 3rem;
        }
    }

    &__content {
        p {
            font-size: calc(var(--step--1) + 0.15rem);
            font-style: italic;
            text-wrap: unset;
            color: hsl(42, 91%, 90%);
        }

        @media (max-width: 40rem) {
            margin: 0;
            margin-block-start: var(--space-2xs);
        }
    }

    .team-thoughts__entry .team-thoughts__author h4 {
        margin: 0;
    }
}
