@use "utilities" as *;

.team-thoughts {
    position: relative;
    margin-block: var(--space-xl);
    padding: var(--space-l);
    background: var(--clr-surface-600);
    border-radius: var(--radius-normal);
    overflow: hidden;
    z-index: 1;

    &::before {
        @include soft-glow;

        @media (max-width: 38.875rem) {
            right: -15rem;
        }
    }

    &::after {
        @include img-border-highlight;
        border-radius: inherit;
    }

    &__heading {
        font-size: var(--step-3);
    }

    &__entry {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:not(:last-child) {
            padding-block-end: var(--space-l);
            border-bottom: 1px solid hsl(var(--clr-border-link-hsl) / 0.2);
        }
    }

    &__author {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
        margin-block-end: var(--space-2xs);

        img {
            width: 64px;
        }
    }

    &__content {
        margin-block-start: -1.75rem;
        margin-inline-start: calc(64px + var(--space-xs));

        p {
            color: var(--clr-text-400);
            font-style: italic;
            text-wrap: unset;
        }

        @media (max-width: 40rem) {
            margin: 0;
            margin-block-start: var(--space-2xs);
        }
    }

    .team-thoughts__entry .team-thoughts__author h4 {
        margin: 0;
    }
}
