/* 
BUTTON STYLES
Styles for each button type.
*/

:root {
    --button-timing-duration: 0.08s;
    --button-timing-curve: cubic-bezier(0.4, 0.1, 0.6, 0.9);
}

a.button,
button.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 10ch;
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    font-family: var(--font-family-headings);
    font-size: var(--step-0);
    font-weight: var(--fw-semibold);
    color: var(--clr-text-100);
    background-color: hsl(221, 91%, 60%);
    box-shadow:
        inset 0 1px hsl(var(--clr-surface-50-hsl) / 0.35),
        0 4px 6px -1px hsl(var(--clr-surface-700-hsl) / 0.2),
        0 2px 4px -2px hsl(var(--clr-surface-700-hsl) / 0.2);
    border: 1px solid hsl(var(--clr-brand-primary-darker-hsl));
    border-radius: var(--radius-xs);
    transition: all var(--button-timing-duration) var(--button-timing-curve);
    overflow: hidden;

    @media (max-width: 40rem) {
        width: 100%;
        min-height: 3.125rem;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
            to bottom,
            hsl(var(--clr-text-100-hsl) / 0.2),
            transparent
        );
    }

    &:hover {
        background-color: hsl(221, 91%, 55%);
    }

    &:active {
        background-color: hsl(var(--clr-brand-primary-hsl));
        box-shadow:
            inset 0 1px hsl(var(--clr-text-link-hover-hsl)),
            0 0 0 0 transparent;
    }

    &:focus-visible {
        outline: 3px solid var(--clr-brand-accent);
        outline-offset: 0.25rem;
        border-radius: 2px;
    }
}

a.button {
    text-decoration: none;
}

/* Ghost buttons */
.button-ghost,
a.button-ghost {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 6ch;
    font-family: var(--font-family-headings);
    font-size: var(--step-0);
    font-weight: var(--fw-semibold);
    color: var(--clr-text-100);
    text-align: center;
    padding: var(--space-2xs) var(--space-s);
    background-color: transparent;
    border: 1px solid var(--clr-border-link);
    border-radius: var(--radius-small);
    text-decoration: none;
    transition: all var(--button-timing-duration) var(--button-timing-curve);
    cursor: pointer;

    &:hover {
        background: rgba(109 153 248 / 45%);
    }

    @media (max-width: 40rem) {
        min-height: 3.125rem;
    }
}

// Button Group
.button-group {
    display: inline-flex;
    width: fit-content;
    margin-block-end: var(--space-m);
    background: var(--clr-surface-400);
    border: 1px solid var(--clr-surface-200);
    overflow: hidden;

    @media (max-width: 40rem) {
        width: 100%;
    }

    .switch-btn {
        min-width: 7.5rem;
        font-size: var(--step--1);
        background: transparent;
        border: none;
        padding: var(--space-2xs) var(--space-s);
        transition: all var(--button-timing-duration) var(--button-timing-curve);
        cursor: pointer;

        @media (max-width: 40rem) {
            width: 100%;
        }

        &.is-active,
        &:hover {
            background: var(--clr-surface-200);
        }

        &.is-active {
            font-weight: var(--fw-bold);
        }
    }
}
