/* 
FONTS
Self-hosted font details.
*/

@font-face {
    font-family: "Jakarta";
    font-weight: 300;
    font-style: normal;
    src: url("fonts/PlusJakartaSans-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Jakarta";
    font-weight: 300;
    font-style: italic;
    src: url("fonts/PlusJakartaSans-LightItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Jakarta";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/PlusJakartaSans-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Jakarta";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/PlusJakartaSans-Italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Jakarta";
    font-weight: 600;
    font-style: normal;
    src: url("fonts/PlusJakartaSans-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Jakarta";
    font-weight: 600;
    font-style: italic;
    src: url("fonts/PlusJakartaSans-SemiBoldItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Jakarta";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/PlusJakartaSans-Bold.woff2") format("woff2");
    font-display: swap;
}
