/* 
FONTS
Self-hosted font details.
*/

@font-face {
    font-family: 'Mona Sans';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/MonaSans-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    font-weight: 400;
    font-style: italic;
    src: url('fonts/MonaSans-Italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    font-weight: 600;
    font-style: normal;
    src: url('fonts/MonaSans-Semi-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    font-weight: 600;
    font-style: italic;
    src: url('fonts/MonaSans-Semi-Bold-Italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/MonaSans-Bold.woff2') format('woff2');
    font-display: swap;
}