@use "utilities" as *;

/* 
SITE FOOTER
Layout and styling for the site footer
*/

.footer {
    position: relative;
    padding-block-start: var(--space-xl);
    background-image: url("./images/footer-bg-glow-noise.webp");
    background-image: image-set(
        url("./images/footer-bg-glow-noise.avif") type("image/avif"),
        url("./images/footer-bg-glow-noise.webp") type("image/webp")
    );
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;

    @media (max-width: 55rem) {
        background-size: 250%;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        background: url("./images/footer-tardis-bg.webp") no-repeat center;
        background-size: contain;
        z-index: 1;

        @media (max-width: 55rem) {
            background-position: bottom right;
            left: 30%;
            transform: none;
            background-size: 90%;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: linear-gradient(
            to bottom,
            hsl(var(--clr-surface-700-hsl) / 1) 5%,
            hsl(var(--clr-surface-700-hsl) / 0) 100%
        );
        pointer-events: none;
        z-index: 2;
    }

    p {
        color: var(--clr-text-900);
    }

    .footer-top {
        position: relative;
        display: grid;
        grid-template-columns: 1fr max-content max-content;
        gap: var(--space-2xl);
        padding-block-end: var(--space-l);
        background: linear-gradient(
            to right,
            transparent,
            rgba(27, 47, 75, 0.6) 20%,
            rgba(27, 47, 75, 0.6) 80%,
            transparent
        );
        background-size: 100% 1px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        z-index: 3;

        @media (max-width: 55rem) {
            grid-template-columns: 1fr;
            gap: var(--space-s);
        }

        &__col1 {
            display: flex;
            flex-direction: column;
            gap: var(--space-s);

            .rotating-sentence {
                &__wrapper {
                    display: inline;
                    word-break: normal;
                }

                &__dynamic {
                    display: inline;
                    // font-weight: var(--fw-semibold);
                    color: var(--clr-text-100);
                    opacity: 0;
                    transition: opacity 0.6s ease;

                    &.visible {
                        opacity: 1;
                    }
                }
            }
        }

        h5 {
            margin-block-end: var(--space-s);
        }

        ul.footer-list {
            font-family: var(--font-family-headings);
            font-size: var(--step--1);

            li a {
                color: var(--clr-text-900);

                @media (max-width: 55rem) {
                    margin-block-start: var(--flow-small, 1em);
                }
            }
        }
    }

    .footer-bottom {
        position: relative;
        padding-block: var(--space-l);
        z-index: 3;

        p {
            max-width: var(--measure-m);
        }
    }
}
