/* 
GLOBAL STYLES
Site-wide styles.
*/

body {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    min-block-size: 100%;
    font-family: var(--font-family-body);
    font-size: var(--step-0);
    font-weight: var(--fw-reg);
    line-height: 1.6;
    color: var(--clr-text-400);
    background: var(--clr-surface-700);
}

main {
    margin-block-end: var(
        --space-2xl
    ); // Spacing after main content between the footer
    padding-block-start: calc(
        var(--space-3xl) + var(--space-3xs)
    ); // Space below fixed header
}

// Footer always at bottom of page
.site {
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

.site-main {
    flex: 1 1 auto;
}

.footer {
    margin-top: auto;
}

// Custom scroll bar colour
* {
    scrollbar-color: var(--clr-brand-primary) var(--clr-surface-400);

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--clr-surface-400);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--clr-brand-primary);
        border-radius: 6px;
        border: 3px solid var(--clr-surface-400);
    }
}

// Global text selection
*::selection {
    background: var(--clr-brand-primary);
    color: var(--clr-surface-700);
    -webkit-text-stroke-width: 0;
}
