/* 
GLOBAL STYLES
Site-wide styles.
*/


// TEMP SIDEBAR SPACING WHILE DEVELOPING - REMOVE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
aside {
  margin-top: 500px;
}


// Top-level page styles
html {
    scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--step-0);
  font-weight: var(--fw-reg);
  line-height: 1.5;
  color: var(--clr-text-400);
  background: var(--clr-surface-700);
  overflow-x: hidden;

  &:is(.home) {
    .page-bg-inline > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

// Custom scroll bar colour
* {
  scrollbar-color: var(--clr-surface-600) #c2c5cc;
}

// Global text selection
*::selection {
  background: var(--clr-brand-accent);
  color: var(--clr-surface-700);
  -webkit-text-stroke-width: 0;
}

// Post preview images
.post-thumb-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  filter: saturate(1) brightness(1);
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: saturate(1.1) brightness(1.1);
  }
}