@layer reset {
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Remove default spacing */
    * {
        margin: 0;
        padding: 0;
    }

    html {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        -webkit-font-smoothing: antialiased;
        block-size: 100%;
        scroll-behavior: smooth;
        overflow-y: scroll;
    }

    html,
    body {
        overscroll-behavior-x: none;
        overflow-x: clip;
    }

    /* Set shorter line heights on headings and interactive elements */
    h1,
    h2,
    h3,
    h4,
    h5,
    button,
    input,
    label {
        line-height: 1.1;
    }

    /* Avoid text overflows */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role="list"],
    ol[role="list"] {
        list-style: none;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    /* Make images easier to work with */
    img,
    picture,
    video,
    canvas,
    figure,
    iframe {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
    }

    svg:not([data-lucide]) {
        max-inline-size: 100%;
    }

    svg:not([fill]) {
        fill: currentColor;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font: inherit;
        letter-spacing: inherit;
        word-spacing: inherit;
        color: currentColor;
    }

    /* Remove input and field default styles */
    input,
    textarea {
        padding: 0;
        margin: 0;
    }

    textarea {
        resize: vertical;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 8em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin: var(--vertical-space);
    }

    /* Nicer looking HRs */
    hr {
        border-color: var(--clr-border-darker);
        border-style: solid;
        border-width: 1px 0 0;
        color: inherit;
        height: 0;
        overflow: visible;
        margin-block: var(--space-l) !important;
    }
}
