@use 'blocks' as *;

/* 
SINGLE POST STYLES
Layout and styling for single post pages.
*/

.single-post-article {
    h1 {
        font-size: var(--step-6);
        line-height: 1.2;
        max-width: 28ch;
    }

    h2 {
        font-size: var(--step-3);
        line-height: 1.4;
        margin-block-start: var(--space-xl);
    }

    &__header-meta {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--space-m);
        align-items: center;
        padding-block-start: var(--space-2xs);
        padding-block-end: var(--space-s);

        @media (max-width: 50rem) {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--space-s);
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2xl);
        margin-block-start: var(--space-xl);

        .article-body {
            flex-basis: 0;
            flex-grow: 999;
            min-inline-size: 63%;
        }

        .post-summary {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            padding: var(--space-l);
            padding-block-start: var(--space-m);
            background: var(--clr-surface-300);

            &:before {
                background: linear-gradient(to bottom right, var(--clr-surface-200), var(--clr-surface-600) 50%);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: var(--space-2xs);
                padding-inline-start: 1rem;

                li {
                    list-style-type: disc;
                    padding-inline-start: 0.25rem;

                    &::marker {
                        color: var(--clr-brand-accent);
                    }
                }
            }
        }

        .post-content {
            p.lead {
                font-size: var(--step-1);
                font-weight: var(--fw-semibold);
                line-height: 1.5;

                &::first-letter {
                    color: var(--clr-brand-accent);
                    font-family: var(--font-family-headings);
                    font-size: 6rem;
                    line-height: 1;
                    margin-block-start: -4px;
                    margin-inline-end: var(--space-xs);
                    float: left;
                }
            }

            ul, ol {
                margin-inline-start: 1.1rem;
                @extend .flow-tiny;
            }
        }

        .article-sidebar {
            flex-basis: 20rem;
            flex-grow: 1;
            border-inline-start: 1px solid var(--clr-border-darker);
            padding-inline-start: var(--space-2xl);

            @media (max-width: 72.188rem) {
                padding-inline-start: 0;
                border-inline-start: none;
            }

            .author-info {
                img.avatar {
                    height: 104px;
                }

                a {
                    display: block;
                }

                &__name {
                    font-weight: var(--fw-semibold);
                }
            }

            .article-share {
                display: flex;
                flex-direction: column;
                gap: var(--space-xs);
            }
        }
    }
}