@use 'blocks' as *;

/* 
SINGLE POST STYLES
Layout and styling for single post pages.
*/

.post-article {
    padding: 0 0 var(--space-xl) 0;

    .post-hero {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
        gap: var(--space-l);

        @media (max-width: 50rem) {
            gap: var(--space-m);
        }

        img {
            aspect-ratio: 16 / 9;
        }

        &__details {
            display: flex;
            flex-direction: column;
            gap: var(--space-s);

            .post-article-title {
                display: flex;
                flex-direction: column;
                gap: var(--space-2xs);

                h1 {
                    max-width: 28ch;
                    font-size: var(--step-5);
                    color: var(--clr-text-100);
                }
            }

            .post-article-meta {
                display: flex;
                gap: var(--space-xs);

                @media (max-width: 31.25rem) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--space-2xs);

                    .separator {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 0;
                        margin: 0;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                        white-space: nowrap;
                    }
                }

                .reading-time {
                    display: inline-flex;
                    align-items: center;
                    gap: var(--space-2xs);
                }
            }
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2xl);
        margin-block-start: var(--space-2xl);

        @media (max-width: 50rem) {
            margin-block-start: var(--space-xl);
        }

        .article-body {
            flex-basis: 0;
            flex-grow: 999;
            min-inline-size: 63%;
        }

        .post-summary {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            padding: var(--space-l);
            padding-block-start: var(--space-m);
            background: var(--clr-surface-300);

            &:before {
                background: linear-gradient(to bottom right, var(--clr-surface-200), var(--clr-surface-600) 50%);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: var(--space-2xs);
                padding-inline-start: 1rem;

                li {
                    list-style-type: disc;
                    padding-inline-start: 0.25rem;

                    &::marker {
                        color: var(--clr-brand-accent);
                    }
                }
            }
        }

        .post-content {
            h2, h3, h4, h5, h6 {
                margin-block-start: var(--space-2xl);

                + figure,
                + .wp-block-image {
                    padding-block-start: 0;
                }
                
            }

            p.lead,
            p.has-drop-cap {
                font-size: var(--step-1);
                font-weight: var(--fw-bold);
                line-height: 1.5;

                &:first-letter,
                &:not(:focus):first-letter {
                    color: var(--clr-brand-accent);
                    font-family: var(--font-family-headings);
                    font-size: 4.5rem;
                    line-height: 0.3em;
                    margin-block-start: 1.6rem;
                    margin-inline-end: 0.5rem;
                    float: left;
                }
            }

            ul, ol {
                margin-inline-start: 1.1rem;
                @extend .flow-tiny;
            }
        }

        .article-sidebar {
            flex-basis: 20rem;
            flex-grow: 1;
            border-inline-start: 1px solid var(--clr-border-darker);
            padding-inline-start: var(--space-2xl);

            @media (max-width: 72.188rem) {
                padding-inline-start: 0;
                border-inline-start: none;
            }

            .author-info {
                img.avatar {
                    height: 104px;
                }

                a {
                    display: block;
                }

                &__name {
                    font-weight: var(--fw-semibold);
                }
            }

            .article-share {
                display: flex;
                flex-direction: column;
                gap: var(--space-xs);
            }
        }
    }
}