@use "utilities" as *;

/* 
TYPOGRAPHY
Font styling for headings, paragraphs etc.
*/

:root {
    // Main font settings
    --font-family-headings: "Big Blue Box Headings", sans-serif;
    --font-family-body: "Bitter", sans-serif;
    --fw-light: 300;
    --fw-reg: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-black: 800;
    --measure-m: 72ch;
    --measure-s: 32ch;
}

// Heading styles
:where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-family-headings);
    font-weight: var(--fw-bold);
    text-wrap: balance;
    overflow-wrap: break-word;
    font-variant-numeric: lining-nums;
}

// Heading sizes and styles
h1 {
    font-size: var(--step-5);
    line-height: 1.15;
    letter-spacing: -0.02em;
}
h2 {
    font-size: var(--step-4);
    line-height: 1.15;
    letter-spacing: -0.5px;
}
h3 {
    font-size: var(--step-3);
    line-height: 1.25;
    letter-spacing: -0.4px;
}
h4 {
    font-size: var(--step-2);
    line-height: 1.2;
    letter-spacing: -0.3px;
}
h5 {
    font-size: var(--step-1);
    line-height: 1.3;
    letter-spacing: -0.2px;
}
h6 {
    font-size: calc(var(--step--1) + 0.15rem);
    line-height: 1.3;
    letter-spacing: -0.1px;
}

p {
    overflow-wrap: break-word;
    font-variant-numeric: proportional-nums;
}

p,
li {
    max-width: var(--measure-m);
    text-wrap: pretty;
}

.no-heading {
    font-family: var(--font-family-body);
    text-transform: none;
}

.section-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    width: fit-content;
    color: var(--clr-brand-accent);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    margin-block-end: var(--space-s);

    &__in-sentence {
        display: flex;
        gap: var(--space-2xs);

        > svg {
            transform: translateY(2px);
        }
    }
}

body:is(.category-articles) {
    .section-title {
        color: var(--clr-brand-secondary);
    }
}

.section-title-heading {
    margin-block-end: var(--space-m);
}

.latest-podcast-ep .section-title {
    margin-block-end: 0;
}

.section-title-small {
    @extend .section-title;
    font-size: var(--step--2);
    margin-block-end: var(--space-m);

    &::before {
        @include visually-hidden;
    }
}

.page-title {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    margin-block-end: var(--space-xl);
}

// Remove margin if heading follows the first .lead paragraph
p.lead + :is(h2, h3, h4, h5, h6) {
    margin-block-start: var(--space-l);
}

body:is(.single) .entry-content {
    p.lead,
    p.has-drop-cap {
        font-family: var(--font-family-headings);
        font-size: var(--step-1);
        font-weight: var(--fw-bold);
        line-height: 1.4;
        min-height: 4ch;

        &:first-letter,
        &:not(:focus):first-letter {
            -webkit-initial-letter: 2;
            initial-letter: 2;
            color: var(--clr-brand-secondary);
            margin-inline-end: 0.5ch;
        }

        @supports not (initial-letter: 2) {
            &:first-letter,
            &:not(:focus):first-letter {
                color: var(--clr-brand-secondary);
                font-size: 73px;
                line-height: 1em;
                margin-block-start: 0.5rem;
                margin-inline-end: 0.2ch;
                float: left;
            }
        }
    }
}

body.category-podcasts {
    p.lead,
    p.has-drop-cap {
        &:first-letter,
        &:not(:focus):first-letter {
            color: inherit;
            float: none;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            margin: 0;

            @media (max-width: 400px) {
                @include visually-hidden;
            }
        }
    }
}

.text-normal {
    font-size: var(--step-0);
    font-weight: var(--fw-reg);
}

.balance {
    text-wrap: balance;
}

.centered {
    text-align: center;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

// Misc font styles
.bold {
    font-weight: var(--fw-bold);
}

strong,
.strong {
    font-weight: var(--fw-black);
}

.body-small,
.small {
    font-size: var(--step--1);
}

.body-large,
.large {
    font-size: var(--step-1);
}

.semi-bold {
    font-weight: var(--fw-semibold);
}

.all-caps {
    text-transform: uppercase;
}

.entry-content :is(ul, ol) {
    margin-inline-start: var(--space-m);
}

// Links
a {
    color: var(--clr-text-100);
    text-decoration: none;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;

    &:hover,
    &:active {
        text-decoration: underline;
        text-decoration-color: var(--clr-text-link);
        -webkit-text-decoration-color: var(--clr-text-link);
        text-decoration-thickness: 3px;
    }

    &:focus-visible {
        outline: 0.25em solid var(--clr-brand-accent);
        outline-offset: 0.25em;
        border-radius: 2px;
    }
}

// Standard text links within body text
a.link-alt,
body:is(.page-template-legal-template) :is(.entry-content) a,
body:is(.single-post) :is(.entry-content) a {
    color: var(--clr-text-link);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.25px;

    &:not(:is(:hover, :focus)) {
        text-decoration-color: color-mix(
            in srgb,
            currentColor,
            transparent 50%
        );
    }
}

// External links with icon
a[target="_blank"] {
    display: inline-flex;
    align-items: center;

    &:not(.has-external-icon) {
        display: unset;
    }
}

a.no-external-icon {
    @include visually-hidden;
}

// In-page action text link
a.link-action {
    margin-block-end: var(--space-xs);
    padding-block: 0.75rem;
    padding-inline: 1rem;
    font-family: var(--font-family-headings);
    font-size: var(--step--1);
    line-height: 1.4;
    text-wrap: nowrap;
    text-decoration: none;
    border-radius: var(--radius-small);
    transition: all var(--button-timing-duration) var(--button-timing-curve);

    :where(span.reply-icon) svg {
        transform: translateY(-1.5px);
    }

    &:hover,
    &:focus {
        background: var(--clr-surface-200);
    }
}

body:is(.page-template-reviews-compendium) a.link-action {
    @media (max-width: 44rem) {
        @include visually-hidden;
    }
}
