@use 'utilities' as *;

/* 
TYPOGRAPHY
Font styling for headings, paragraphs etc.
*/

:root {
    // Main font settings
    // --font-family-headings: 'Merriweather';
    // --font-family-body: 'Mona Sans';
    --font-family: 'Mona Sans', sans-serif;
    --fw-light: 300;
    --fw-reg: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
}

// Heading styles
h1, h2, h3, h4, h5 {
    font-family: var(--font-family);
    font-weight: var(--fw-bold);
}

// Heading sizes
h1 {font-size: var(--step-5); line-height: 1.2;}
h2 {font-size: var(--step-4); line-height: 1.2;}
h3 {font-size: var(--step-3); line-height: 1.3;}
h4 {font-size: var(--step-2); line-height: 1.4;}
h5 {font-size: var(--step-1); line-height: 1.4;}
h6 {font-size: calc(var(--step--1) + 0.15rem); line-height: 1.4;}

/* Improve line wrapping */
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
.section-title {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    color: var(--clr-brand-accent);
    font-weight: var(--fw-semibold);
    font-size: var(--step--1);
    text-transform: uppercase;
    margin-block-end: var(--space-l);

    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -16px;
        width: 5rem;
        height: 2px;
        background: var(--clr-brand-accent);
    }
}

.section-title-small {
    @extend .section-title;
    font-size: var(--step--2);
    margin-block-end: var(--space-m);

    &::before {
        @include visually-hidden;
    }
}

.balance {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

// Colour overrides
.clr-100 {
    color: var(--clr-text-100);
}

.clr-400 {
    color: var(--clr-text-400);
}

.clr-900 {
    color: var(--clr-text-900);
}

// Misc font styles
.bold {
    font-weight: var(--fw-bold);
}

.body-small, .small {
    font-size: var(--step--1);
}

.body-large, .large {
    font-size: var(--step-1);
}

.semi-bold {
    font-weight: var(--fw-semibold);
}

// Links
a {
    color: var(--clr-text-100);
    text-decoration: none;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;

    &:hover,
    &:active {
        text-decoration: underline;
        text-decoration-color: var(--clr-text-link);
        -webkit-text-decoration-color: var(--clr-text-link);
        text-decoration-thickness: 3px;
    }
}

:focus-visible {
    outline: 2px solid var(--clr-brand-accent);
    outline-offset: 4px;
    border-radius: 2px;
}

// Standard text links within body text
a.link-alt,
body:is(.single-post) :is(.post-content) a {
    color: var(--clr-text-link);
    text-decoration: underline;

    &:hover,
    &:active {
        color: var(--clr-text-link-hover);
        text-decoration: underline;
        text-decoration-color: var(--clr-text-link-hover);
    }
}

// External links with icon
a[target="_blank"] {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
}