@use "sass:color";

$colors: (
    text-100: hsl(0, 0%, 100%),
    text-400: hsl(214, 14%, 90%),
    text-900: hsl(219, 11%, 70%),
    text-link: hsl(221, 91%, 70%),
    text-link-hover: hsl(221, 91%, 63%),
    surface-700: hsl(215, 50%, 5%),
    surface-600: hsl(217, 50%, 7%),
    surface-400: hsl(222, 15%, 13%),
    surface-300: hsl(247, 21%, 13%),
    surface-200: hsl(218, 15%, 25%),
    surface-100: hsl(220, 10%, 63%),
    surface-50: hsl(0, 0%, 100%),
    border-default: hsl(219, 11%, 50%),
    border-darker: hsl(218, 15%, 20%),
    border-link: hsl(221, 91%, 70%),
    brand-primary: hsl(215, 95%, 55%),
    brand-primary-darker: hsl(215, 95%, 10%),
    brand-accent: hsl(334, 88%, 68%),
    brand-accent-darker: hsl(334, 88%, 41%),
    brand-secondary: hsl(42, 91%, 58%),
);

:root {
    /* Font sizes */
    /* Step -2: 12.5px → 13.44px */
    --step--2: clamp(0.7813rem, 0.7572rem + 0.1068vw, 0.84rem);
    /* Step -1: 13.3333px → 16px */
    --step--1: clamp(0.8333rem, 0.7652rem + 0.303vw, 1rem);
    /* Step 0: 15px → 19px */
    --step-0: clamp(0.9375rem, 0.8352rem + 0.4545vw, 1.1875rem);
    /* Step 1: 16.875px → 23.75px */
    --step-1: clamp(1.0547rem, 0.8789rem + 0.7813vw, 1.4844rem);
    /* Step 2: 18.9844px → 29.6875px */
    --step-2: clamp(1.1865rem, 0.9129rem + 1.2163vw, 1.8555rem);
    /* Step 3: 21.3574px → 37.1094px */
    --step-3: clamp(1.3348rem, 0.9321rem + 1.79vw, 2.3193rem);
    /* Step 4: 24.0271px → 46.3867px */
    --step-4: clamp(1.5017rem, 0.93rem + 2.5409vw, 2.8992rem);
    /* Step 5: 27.0305px → 57.9834px */
    --step-5: clamp(1.6894rem, 0.898rem + 3.5174vw, 3.624rem);
    /* Step 6: 30.4093px → 72.4792px */
    --step-6: clamp(1.9006rem, 0.8249rem + 4.7807vw, 4.53rem);

    /* Spacing */
    /* Space 3xs: 4px → 5px */
    --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
    /* Space 2xs: 6px → 8px */
    --space-2xs: clamp(0.375rem, 0.3315rem + 0.2174vi, 0.5rem);
    /* Space xs: 13px → 16px */
    --space-xs: clamp(0.8125rem, 0.7473rem + 0.3261vi, 1rem);
    /* Space s: 16px → 20px */
    --space-s: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
    /* Space m: 24px → 30px */
    --space-m: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
    /* Space l: 32px → 40px */
    --space-l: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
    /* Space xl: 48px → 60px */
    --space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
    /* Space 2xl: 64px → 80px */
    --space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
    /* Space 3xl: 96px → 120px */
    --space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 4px → 8px */
    --space-3xs-2xs: clamp(0.25rem, 0.163rem + 0.4348vi, 0.5rem);
    /* Space 2xs-xs: 6px → 16px */
    --space-2xs-xs: clamp(0.375rem, 0.1576rem + 1.087vi, 1rem);
    /* Space xs-s: 13px → 20px */
    --space-xs-s: clamp(0.8125rem, 0.6603rem + 0.7609vi, 1.25rem);
    /* Space s-m: 16px → 30px */
    --space-s-m: clamp(1rem, 0.6957rem + 1.5217vi, 1.875rem);
    /* Space m-l: 24px → 40px */
    --space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vi, 2.5rem);
    /* Space l-xl: 32px → 60px */
    --space-l-xl: clamp(2rem, 1.3913rem + 3.0435vi, 3.75rem);
    /* Space xl-2xl: 48px → 80px */
    --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vi, 5rem);
    /* Space 2xl-3xl: 64px → 120px */
    --space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vi, 7.5rem);

    /* Other spacing values */
    --gutter: var(--space-m);
    --gutter-large: var(--space-l);
    --flow-space-tiny: var(--space-3xs-2xs);
    --flow-space-small: var(--space-2xs-xs);
    --flow-space: var(--space-s-m);
    --flow-space-large: var(--space-l-xl);
    --flow-space-xl: calc(var(--space-2xl-3xl) + var(--space-s));

    /* Colours */
    // For future Garry or new dev, this list is paired with "_colour-tokens.scss" so make sure that is updated.

    // Output colours to various versions e.g. full/basic, RGB and HSL
    @each $name, $col in $colors {
        --clr-#{$name}-rgb: #{color.channel($col, "red", $space: rgb)},
            #{color.channel($col, "green", $space: rgb)},
            #{color.channel($col, "blue", $space: rgb)};
        --clr-#{$name}-hsl: #{color.channel($col, "hue", $space: hsl)}
            #{color.channel($col, "saturation", $space: hsl)}
            #{color.channel($col, "lightness", $space: hsl)};
    }
}

// Usage (watch for the "/" vs ",")...
// Full color variable	    var(--clr-brand-accent)
// RGB no alpha	            rgb(var(--clr-brand-accent-rgb))
// RGB with alpha	        rgba(var(--clr-brand-accent-rgb), 0.4)
// HSL no alpha	            hsl(var(--clr-brand-accent-hsl))
// HSL with alpha	        hsl(var(--clr-brand-accent-hsl) / 0.4)
